@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
}

/* Body */

/* main-page */
.main-page {
    width: 90%;
    margin: 50px auto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/* full-name */
.full-name {
    width: 30%;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
}

.name {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.profession {
    margin: 0;
    padding: 0;
}

/* tof */

.tof {
    border: 0px solid red;
}

.tof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/* section descript */
.descript {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 0 ;
    text-align: justify;
}


/* section expertise */
#expertise {
    padding: 5px 30px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.experience {
    padding: 5px 10px 5px 0;
}

.experience ul:hover {
    border-left: 3px solid grey;
    box-shadow: 0.3px 0.3px 0px grey
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    
    /* logo should disappear */
    .logo {
        display: none;
    }

    /* fullname should get 50% of the screen */

    .full-name {
        width: 50%;
        cursor: pointer;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    
    /* name should reduce the size */

    .name {
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    
    /* profession should reduce also the size */

    .profession {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    /* expertise should align vertically */

    #expertise {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
