.nav
{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.nav-part-2
{
    display: flex;
}
.nav-item
{
    margin-right: 20px;
}